* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
}

.cartao {
    width: 200px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


main {
    flex: 1;
}

.cabecalho-link {
 color: white;
 text-decoration: none;

}

h1 {
   color: white;

}

footer {
   background-color: #1b1b1b ;
   padding: 15px 25px;
   color:white;

}










